
<p>Vous recevrez votre facture qui servira de billet, par email</p>
    <div class="col-lg-3 col-md-3 snipterri">

      <div class="card" style="width: 100%; padding: 1.5rem; background-color: #1d253505;">
        <img class="card-img-top" src="/img/donations/coins.png" alt="Crowdfunding de 5.00 euros"   style="width: 100%; border-radius: 5px; padding: 1px; opacity: 0.4!important;">
        <div class="card-body">
          <h5 class="card-title">Une place (5.00 euros)</h5>
          <p class="card-text">Le prix de l'entrée est de 5.00 euros, rdv dans la fosse! :) </p>
          <!-- <button class="btn btn-secondary buy-button snipcart-add-item" style="color: #fff; background-color: #5bc0de;" data-item-name="une_place_concert" data-item-id="une_place_concert" data-item-price="5.00" data-item-url="/top/donations" type="button" name="button"> -->
          <button class="btn btn-secondary buy-button snipcart-add-item" style="color: #fff; background-color: #5bc0de;" data-item-name="une_place_concert" data-item-id="une_place_concert" data-item-price="5.00" data-item-url="{{ .RelPermalink }}" type="button" name="button">
            1 place 5 eur
          </button>
        </div>
      </div>

    </div>
    <div class="col-lg-3 col-md-3 snipterri">

      <div class="card" style="width: 100%; padding: 1.5rem; background-color: #1d253505;">
        <img class="card-img-top" src="/img/donations/silver.png" alt="Crowdfunding de 20.00 euros"   style="width: 100%; border-radius: 5px; padding: 1px; opacity: 0.4!important;">
        <div class="card-body">
          <h5 class="card-title">Cinq places (20.00 euros)</h5>
          <p class="card-text">Un place offerte pour quatres achetées! 20.00 euros au lieu de 25! :) </p>
          <button class="btn btn-secondary buy-button snipcart-add-item" style="color: #fff; background-color: #5bc0de;" data-item-name="cinq_place_concert" data-item-id="cinq_place_concert" data-item-price="20.00" data-item-url="{{ .RelPermalink }}" type="button" name="button">
            5 places 20 eur
          </button>
        </div>
      </div>

    </div>
